<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.papercut_rhythm_backend.mapper.CommentMapper">

    <select id="getCommentCountByTopicId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM comment
        WHERE comment_topic_id = #{topicId}
          AND type = #{type}
    </select>

    <select id="getCommentListByTopicId" resultType="java.util.Map">
        SELECT *
        FROM comment
        WHERE comment_topic_id = #{topicId}
          AND type = #{type}
    </select>

    <insert id="addComment">
        INSERT INTO comment (comment_topic_id, comment_user_id, content, type, comment_time, floor_count)
        VALUES (#{topicId}, #{userId}, #{content}, #{type}, NOW(), 0)
    </insert>

</mapper>
